.row {
    width: 100%;
    margin: 0 auto;
}

.worshipList {
    width: 100%;
    display: none;
    text-align: center;
}

.worshipList > h3{
  margin-bottom: 20px;
}

.worshipTable {
    width: 100%;
}
table {
    text-align: center;
}
#worshipListAll {
    margin-top: 20px;
}

#viewAdd {
    text-align: center;
}

.table td {
    border-bottom: 1px solid #dee2e6;
}

.container {
    margin-bottom: 100px;
}
