@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html,body {height:100%;}
body {font-family:'Noto Sans KR',sans-serif;font-size:1em;overflow-x:hidden;}
ins {background-color:#c6ffc6;text-decoration:none;}
del {background-color:#ffc6c6;}
::selection{background:#c00; color:#fff;text-shadow:none;text-shadow:0 -1px 0 #000}
::-moz-selection{background:#c00; color:#fff;text-shadow:none;text-shadow:0 -1px 0 #000}
a {cursor:pointer;color:#000}
a:hover,a:focus {color:#c00;text-decoration:none;}
/* pace */
.pace {-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
.pace-inactive {display:none;}
.pace .pace-progress {background:#e53e37;position:fixed;z-index:2000;top:0;right:100%;width:100%;height:2px;}
.pace-done .navbar-static-side,.pace-done .nav-header,.pace-done li.active,.pace-done #page-wrapper,.pace-done .footer {-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
/* header, footer */
.page-header {margin-top:10px;padding-bottom:0;border-bottom:2px solid #ee3148;}
.page-header h1 {font-size:2em;}
.page-header h1 small {font-size:.6em;}
.page-header h1 span {padding-top:15px;font-size:.5em;}
.page-header h1 span .btn {margin-top:-5px;margin-left:10px;}
.page-footer {padding:10px 0;margin-top:20px;border-top:1px solid #eee;}
.page-footer address, p {margin:0;}
.page-footer address {font-size:.9em;}
.navbar {margin-bottom:20px;}
/* login */
.login-content {padding:50px 10px 20px;}
.login-content .btn {height:110px;}
/* list */
.listCount {padding-left:20px;font-size:1.5em;}
.dropdown-menu a {font-size:.8em;}
.noData {color:#D6D6D6;font-size:2em;padding:10px;text-align:center;}
.rowCursor tbody tr {cursor:pointer;}
.table-striped>tbody>tr.highlight, .table-hover>tbody>tr.highlight {background:#f2dede;}
.throughline td,.throughline a {text-decoration:line-through;color:red;}
.list-content {height:550px;}
.btn-set {padding-bottom:10px;border-bottom:1px solid #eee;}
.hr-line-dashed {border-top:1px dashed #e7eaec;color:#ffffff;background-color:#ffffff;height:1px;margin:10px 0;}
.abc-checkbox,.abc-radio {margin-top:9px;}
/* sweetalert */
.sweet-alert h2 {padding-top:10px;font-size:1.6em;color:#595959;}
.sweet-alert p {font-size:1em;}
.sa-button-container {padding-top:20px;}
/* jquery filter table */
td.alt {color:#a94443;}
/* modal */
.find-view {height:400px;}
.infoView dl {margin-top:5px;margin-bottom:10px;border-bottom:1px dashed #e7eaec;}
.infoView dl.mUsers,.infoView dl.actionDT {margin-bottom:0;border-bottom:none;}
.infoView dl dt {font-weight:bold;}
.infoView dl dd {font-size:.9em;padding-top:2px;}
.popover {max-width:600px;}
.popover-header {font-size:.9em;font-weight:bold;}
.popover-body {font-size:.8em;}
.popover-body table {margin-bottom:0px;}
.popover-body table th {padding:.5rem;}
.popover-body table td {padding:.3rem;}
.hddInfo li {padding-bottom:5px;}
.btn-xs {padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px;}
/* Main */
.mainInfo {margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}
/* screen < 992px */
@media (max-width: 992px) {
}
/* screen < 768px */
@media (max-width:768px) {
}
/* screen < 576px */
@media (max-width:576px) {
    .page-header h1 {font-size:1.5em;}
    .login-content {padding-top:20px;}
    .login-content .btn {height:50px;}
    .page-header h1 span {padding-top:0;}
    .listCount {font-size:1em;}
}
/* screen < 400px */
@media (max-width:400px) {
    .page-footer address {font-size:.7em;}
    .m-hidden {display:none;}
    .logTable {font-size:.9em;}
    .logTable tbody td:nth-of-type(2) {font-size:.8em;}
    .logTable thead th:nth-of-type(2),.logTable thead th:nth-of-type(5),.logTable tbody td:nth-of-type(1),.logTable tbody td:nth-of-type(4),.logTable tbody small {display:none;}
}