body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 33%,
    rgba(0, 0, 0, 0.7) 100%
  ), url("../../assets/img/hero-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}

@media (min-width: 768px) {
  #hero {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 33%,
      rgba(0, 0, 0, 0.7) 100%
    ), url("../../assets/img/hero.jpg");
  }
}

.navbar-light .navbar-brand {
  width: 150px;
  height: 20px;
  background: url("../../assets/img/logo.svg") center / 80% no-repeat;
}

#navcol-1 {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.nav_hover:hover {
  color: #fff;
}

#signIn {
  margin-right: 40px;
}

#title {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 32px;
}

#subtitle {
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

#hero-bottom {
  color: #fff;
}

#p-top {
  font-size: 26px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

#p-bottom {
  font-size: 13px;
}

.reverse-button {
  background: rgba(0,123,255,0);
  border: 3px solid #fff;
  border-radius: 30px;
  text-transform: uppercase;
}

#hero-bottom .container {
  max-width: 700px;
  text-align: center;
}

.arrow-button {
  color: rgb(255,255,255);
  font-size: 32px;
}

.with-borders {
  border: 1px solid rgba(255,255,255,0.26);
  border-top: 0;
  border-bottom: 0;
}

#nav_hover a:hover {
  color: #fff;
}

#video-and-stats {
  text-align: center;
}

#video-and-stats iframe {
  width: 90%;
  height: 400px;
}

@media (min-width: 992px) {
  #video-and-stats iframe {
    width: 900px;
    height: 500px;
  }
}

@media (max-width: 768px) {
  #stats {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 250px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  #stats {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 250px;
    font-size: 15px;
  }
}

#stats {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 150px;
  font-size: 15px;
}

#stats .table thead th {
  text-align: left;
  padding-left: 0;
  border-top: 0;
  color: #fff;
  border-top: 0;
}

#stats .cell-left {
  text-align: left;
  padding-left: 0;
}

#stats .cell-right {
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

#aero .h3, h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

#interior {
  width: 100%;
  height: 60vh;
}

@media (min-width: 768px) {
  #interior {
    width: 100%;
    height: 100vh;
  }
}

#interior .figure {
  max-width: 90%;
}

@media (min-width: 768px) {
  #interior .figure {
    max-width: 70%;
  }
}

#interior .figure-caption {
  color: rgb(255,255,255);
  margin-top: 15px;
}

#caption-title {
  margin-right: 10px;
}

#topview {
  width: 100%;
  height: 120vh;
  background: url("../../assets/img/top.jpg") center / cover no-repeat;
}

#topview .container {
  margin-bottom: 120px;
}

.btn:not(:disabled):not(.disabled) {
}

footer-basic {
}

.footer-basic .reverse-button {
  align-items: center;
}

.footer-basic .reverse-button {
  width: 200px;
  margin: 10px 0;
  padding: 8px 20px;
}

#footer-button {
}

#vertical-line {
  width: 10px;
  height: 100%;
}
.tds-icon {
  background: transparent;
  block-size: 24px;
  content: "";
  display: block;
  inline-size: 24px;
  max-inline-size: 100%;
  min-block-size: 24px;
  min-inline-size: 24px;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-transform: var(--tds-icon--transform);
  transform: var(--tds-icon--transform);
  transition: color .33s ease, -webkit-transform .5s var(--tds-bezier);
  transition: color .33s ease, transform .5s var(--tds-bezier);
  transition: color .33s ease, transform .5s var(--tds-bezier), -webkit-transform .5s var(--tds-bezier);
}

.tds-icon * {
  transition: fill .3s ease, stroke .3s ease;
}
      .tds-site-logo-link {
  align-items: center;
  box-shadow: none;
  display: inline-flex
;
  padding: 0 var(--tds-size--2x);
}
.tds-site-logo-icon {
  color: #000000;
}
.tds-site-logo-link {
  width: 120px

}
.tds-icon-logo-wordmark {
  inline-size: calc(var(--tds-icon--size)* 5);
}
.ott-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.ott-card-box {
  flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  margin: 10px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.ott-card-box:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

.ott-icon {
  display: block;
  height: 40px;
  width: 40px;
  margin: 5px auto;
  border-radius: 10px;
  overflow: hidden;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ott-icon#netflix {background-image: url("../../assets/img/icons/playstore_netflix.png");}
.ott-icon#plex {background-image: url("../../assets/img/icons/playstore_plex.png");}
.ott-icon#coupangplay {background-image: url("../../assets/img/icons/playstore_coupangplay.png");}
.ott-icon#disneyplus {background-image: url("../../assets/img/icons/playstore_disneyplus.png");}
.ott-icon#tving {background-image: url("../../assets/img/icons/playstore_tving.png");}
.ott-icon#watcha {background-image: url("../../assets/img/icons/playstore_watcha.png");}
.ott-icon#spotvnow {background-image: url("../../assets/img/icons/playstore_spotvnow.png");}
.ott-icon#chzzk {background-image: url("../../assets/img/icons/playstore_chzzk.png");}
.ott-icon#appletv {background-image: url("../../assets/img/icons/playstore_appletv.png");}

@media (max-width: 992px) {
  .ott-card-box {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .ott-card-box {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}