@charset "utf-8";
body{font-family:'Apple SD Gothic Neo',sans-serif;font-size:1rem;}
h1{padding-top:10px;font-weight:700;}
.container-fluid { max-width: 900px; margin-bottom: 30px; }
.title { margin-top:20px; }
.title > div { display: flex;}
.title a { display: flex; color: #000; text-decoration: none; }
.title img { width:50px; height:50px; }
.title h1 { font-weight:300; font-size:2em; margin: 0 0 0 12px;}
.title h1 span { font-weight:700;}
.card-header{padding: .8rem 1rem;}
.card i {margin-right:5px;}
.section#myip .card-header {border-bottom: 0;}
/* Slash in Path */
.section#slash .select-row {display:flex;}
.section#slash .select-row div {margin-right:7px;}
.form-check{margin-top:5px;}
.form-check-label{padding-top:2px;cursor:pointer;}
.copy-btn {display: block; position: absolute; bottom: 10px; right: 10px; border: solid 1px #d6d8db; padding: 4px 8px 2px; border-radius: 5px;}
.pathHotkey > i { margin-right:6px;}
.pathHotkey > span { margin-bottom:8px; }
.unicodeDs,.pathDs {font-size:.8em;}
@media all and (min-width:768px) {
    .section#slash .select-row div {margin-right:15px;}
    .pathHotkey > br { display:none;}
    .pathHotkey > span { margin-right:10px; }
}
/* Special Character */
.accordion-button {padding: .6rem 1.25rem;}
.btn-default {color: #333; background-color: #fff; border-color: #ccc;}
.btn-character-sm {min-width: 35px !important; font-size: 18px; margin: 2px; padding: 4px 4px;}
.btn-default:hover {color: #333; background-color: #e6e6e6; border-color: #adadad;}
.btn-character-sm:hover {border: 0px solid white;}
footer {color: #606161}